@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*以上是reset css，以下開始設定CSS*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    background: #FBFBFB;
    line-height: 1.5;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #4B4B4B;
}

.btn {
    border: 1px solid #000000;
    border-radius: 80px;
    padding: 8px 16px;
}

.btn:hover {
    color: #FFFFFF;
    background: #0027D5;
}

/* header 樣式設定 */
/* header-menu 表頭選單 */
.header {
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    gap: 40px;
}

.option {
    color: #000;
    padding-bottom: 24px;
    padding-top: 24px;
}

.option:hover {
    color: #0027D5;
}

/* about-hero */
.about-hero {
    display: flex;
}

.about-person-img {
    width: 50%;
}

.about-job {
    width: 50%;
    color: #0027D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('images/Hero\ Section2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 80px;
}

.about-job-title {
    font-weight: 900;
    font-size: 120px;
    margin-bottom: 12px;
}

.about-job-name {
    font-weight: 700;
    font-size: 28px;
}

@media(max-width:992px) {
    .about-hero {
        display: flex;
        flex-direction: column;
    }

    .about-person-img {
        width: 100%;
    }

    .about-job {
        width: 100%;
        padding: 24px 37px 24px 24px;
    }

    .about-job-title {
        font-size: 52px;
    }
}

@media(max-width:767px) {
    .about-hero {
        display: flex;
        flex-direction: column;
    }

    .about-person-img {
        width: 100%;
    }

    .about-job {
        width: 100%;
        padding: 24px 37px 24px 24px;
    }

    .about-job-title {
        font-size: 52px;
    }
}

/* about-content */
.about-content {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
    border-bottom: 1px solid #4B4B4B;
    border-top: 1px solid #4B4B4B;
    border-right: 1px solid #4B4B4B;
}

.about-pic {
    width: 50%;
}

.about-textbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 312px;
}

.about-textbox time {
    padding-bottom: 4px;
}

.about-textbox-title .job-title {
    display: inline-block;
    color: #0027D5;
    font-size: 24px;
    padding-bottom: 8px;
}

.about-textbox-title .hit {
    color: #FFFFFF;
    background: #0027D5;
    border-radius: 80px;
    font-weight: 700;
    padding: 6px 12px;
    vertical-align: top;
}

.about-textbox .title {
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 8px;
}

.about-textbox .text {  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 16px;
}

@media(max-width:992px) {
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-pic {
        width: 100%;
    }

    .about-textbox {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 48px 12px;
    }
}

@media(max-width:767px) {
    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-pic {
        width: 100%;
    }

    .about-textbox {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 48px 12px;
    }
}

/* content-search-bar */
.search {
    margin-bottom: 40px;
}

.search-bar {
    width: 32%;
    font-size: 16px;
    border-radius: 80px;
    padding: 16px 48px;
    background-image: url("https://cdn-icons-png.flaticon.com/128/751/751463.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
}

@media(max-width:992px) {
    .search-bar {
        width: 48%;
    }
}

@media(max-width:767px) {
    .search-bar {
        width: 100%;
    }
}

/* content-cardlist */
.content {
    max-width: 1296px;
    margin: 0 auto;
}

.cardlist {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
}

.card {
    width: 32%;
}

.card-head {
    padding-bottom: 16px;
}

.card time {
    padding-bottom: 4px;
}

.card .hashtag {
    color: #0027D5;
    font-size: 24px;
}

.card .hit {
    color: white;
    background: #0027D5;
    border-radius: 80px;
    padding: 6px 12px;
}

.card .title {
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 8px;
}

.card .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.btn {
    margin-top: 16px;
}

@media(max-width:992px) {
    .card {
        width: 48%;
        padding: 0px 12px 16px 12px;
    }
}

@media(max-width:767px) {
    .card {
        width: 100%;
        padding: 0px 12px 16px 12px;
    }
}

.page-bar {
    width: 32%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 80px;
}

.page-be,
.page-af {
    margin: 0px 20px;
    vertical-align: middle;
}

.page {
    width: 40px;
    padding: 8px 0px;
    vertical-align: middle;
}

@media(max-width:992px) {
    .page-bar {
        width: 50%;
    }
}

@media(max-width:767px) {
    .page-bar {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 64px;
    }
}


/* footer */
.contact {
    border-top: 1px solid #4B4B4B;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.email {
    font-size: 32px;
}

.sm-icon-list {
    display: flex;
    justify-content: space-between;

}

.copyright {
    text-align: center;
    padding: 24px;
    background: #FFFFFF;
}

@media(max-width:992px) {
    .contact {
        display: none;
    }

    .copyright {
        border-top: 1px solid #4B4B4B;
    }
}

@media(max-width:767px) {
    .contact {
        display: none;
    }

    .copyright {
        border-top: 1px solid #4B4B4B;
    }
}



